sentiment_set.pickle
test.txt
Untitled
Data/backuptweetids
Data/Cleaned/sarcasmdataset_nonewlines.txt
Data/Cleaned/sarcasmdataset_removedhashtags.txt
Data/Cleaned/x/sarcasmdataset_nonewlines.txt
Data/Cleaned/x/sarcasmdataset_removedhashtags.txt
src/__init__.py
src/ConvNeuralNetwork/__init__.py
src/DataAcquisition/__init__.py
src/DataAcquisition/test.py
TrainAndTest/sentiment_set_1.pickle
TrainAndTest/sentiment_set_19_01.pickle
TrainAndTest/sentiment_set_3.pickle
TrainAndTest/sentiment_set_b.pickle
TrainAndTest/sentiment_set_nolemmatize.json
TrainAndTest/sentiment_set_old.json
Results/20 epochs
src/.idea/misc.xml
src/.idea/modules.xml
src/.idea/src.iml
src/.idea/workspace.xml
src/ConvNeuralNetwork/TestCNN.py
src/ConvNeuralNetwork/__pycache__/SarcasmCNN.cpython-35.pyc
src/ConvNeuralNetwork/runs/1487946891/checkpoints/checkpoint
src/ConvNeuralNetwork/runs/1487946891/checkpoints/model-1900.data-00000-of-00001
src/ConvNeuralNetwork/runs/1487946891/checkpoints/model-1900.index
src/ConvNeuralNetwork/runs/1487946891/checkpoints/model-1900.meta
src/ConvNeuralNetwork/runs/1487946891/checkpoints/model-2000.data-00000-of-00001
src/ConvNeuralNetwork/runs/1487946891/checkpoints/model-2000.index
src/ConvNeuralNetwork/runs/1487946891/checkpoints/model-2000.meta
src/ConvNeuralNetwork/runs/1487946891/checkpoints/model-2100.data-00000-of-00001
src/ConvNeuralNetwork/runs/1487946891/checkpoints/model-2100.index
src/ConvNeuralNetwork/runs/1487946891/checkpoints/model-2100.meta
src/ConvNeuralNetwork/runs/1487946891/checkpoints/model-2200.data-00000-of-00001
src/ConvNeuralNetwork/runs/1487946891/checkpoints/model-2200.index
src/ConvNeuralNetwork/runs/1487946891/checkpoints/model-2200.meta
src/ConvNeuralNetwork/runs/1487946891/checkpoints/model-2300.data-00000-of-00001
src/ConvNeuralNetwork/runs/1487946891/checkpoints/model-2300.index
src/ConvNeuralNetwork/runs/1487946891/checkpoints/model-2300.meta
src/ConvNeuralNetwork/runs/1487946891/summaries/dev/events.out.tfevents.1487946892.felixs-mbp.nuigalway.ie
src/ConvNeuralNetwork/runs/1487946891/summaries/train/events.out.tfevents.1487946892.felixs-mbp.nuigalway.ie
src/ConvNeuralNetwork/runs/1487980844/checkpoints/checkpoint
src/ConvNeuralNetwork/runs/1487980844/checkpoints/model-0.data-00000-of-00001
src/ConvNeuralNetwork/runs/1487980844/checkpoints/model-0.index
src/ConvNeuralNetwork/runs/1487980844/checkpoints/model-0.meta
src/ConvNeuralNetwork/runs/1487980844/summaries/dev/events.out.tfevents.1487980845.Felixs-MacBook-Pro.local
src/ConvNeuralNetwork/runs/1487980844/summaries/train/events.out.tfevents.1487980844.Felixs-MacBook-Pro.local
src/ConvNeuralNetwork/runs/1487981001/checkpoints/checkpoint
src/ConvNeuralNetwork/runs/1487981001/checkpoints/model-1900.data-00000-of-00001
src/ConvNeuralNetwork/runs/1487981001/checkpoints/model-1900.index
src/ConvNeuralNetwork/runs/1487981001/checkpoints/model-1900.meta
src/ConvNeuralNetwork/runs/1487981001/checkpoints/model-2000.data-00000-of-00001
src/ConvNeuralNetwork/runs/1487981001/checkpoints/model-2000.index
src/ConvNeuralNetwork/runs/1487981001/checkpoints/model-2000.meta
src/ConvNeuralNetwork/runs/1487981001/checkpoints/model-2100.data-00000-of-00001
src/ConvNeuralNetwork/runs/1487981001/checkpoints/model-2100.index
src/ConvNeuralNetwork/runs/1487981001/checkpoints/model-2100.meta
src/ConvNeuralNetwork/runs/1487981001/checkpoints/model-2200.data-00000-of-00001
src/ConvNeuralNetwork/runs/1487981001/checkpoints/model-2200.index
src/ConvNeuralNetwork/runs/1487981001/checkpoints/model-2200.meta
src/ConvNeuralNetwork/runs/1487981001/checkpoints/model-2300.data-00000-of-00001
src/ConvNeuralNetwork/runs/1487981001/checkpoints/model-2300.index
src/ConvNeuralNetwork/runs/1487981001/checkpoints/model-2300.meta
src/ConvNeuralNetwork/runs/1487981001/summaries/dev/events.out.tfevents.1487981002.Felixs-MacBook-Pro.local
src/ConvNeuralNetwork/runs/1487981001/summaries/train/events.out.tfevents.1487981002.Felixs-MacBook-Pro.local
src/ConvNeuralNetwork/runs/1488123121/checkpoints/checkpoint
src/ConvNeuralNetwork/runs/1488123121/checkpoints/model-0.data-00000-of-00001
src/ConvNeuralNetwork/runs/1488123121/checkpoints/model-0.index
src/ConvNeuralNetwork/runs/1488123121/checkpoints/model-0.meta
src/ConvNeuralNetwork/runs/1488123121/summaries/dev/events.out.tfevents.1488123122.Felixs-MacBook-Pro.local
src/ConvNeuralNetwork/runs/1488123121/summaries/train/events.out.tfevents.1488123121.Felixs-MacBook-Pro.local
src/ConvNeuralNetwork/runs/1488123187/checkpoints/checkpoint
src/ConvNeuralNetwork/runs/1488123187/checkpoints/model-0.data-00000-of-00001
src/ConvNeuralNetwork/runs/1488123187/checkpoints/model-0.index
src/ConvNeuralNetwork/runs/1488123187/checkpoints/model-0.meta
src/ConvNeuralNetwork/runs/1488123187/summaries/dev/events.out.tfevents.1488123188.Felixs-MacBook-Pro.local
src/ConvNeuralNetwork/runs/1488123187/summaries/train/events.out.tfevents.1488123188.Felixs-MacBook-Pro.local
src/DataAcquisition/__pycache__/__init__.cpython-35.pyc
src/DataAcquisition/__pycache__/create_sarcasm_featuresets.cpython-35.pyc
src/DeepNeuralNetwork/Neural_Network_Runs/100epochRun/summaries/test/events.out.tfevents.1488141669.Felixs-MacBook-Pro.local
src/DeepNeuralNetwork/Neural_Network_Runs/100epochRun/summaries/test/events.out.tfevents.1488141856.Felixs-MacBook-Pro.local
src/DeepNeuralNetwork/Neural_Network_Runs/100epochRun/summaries/test/events.out.tfevents.1488141880.Felixs-MacBook-Pro.local
src/DeepNeuralNetwork/Neural_Network_Runs/100epochRun/summaries/test/events.out.tfevents.1488141935.Felixs-MacBook-Pro.local
src/DeepNeuralNetwork/Neural_Network_Runs/100epochRun/summaries/test/events.out.tfevents.1488141960.Felixs-MacBook-Pro.local
src/DeepNeuralNetwork/Neural_Network_Runs/100epochRun/summaries/train/events.out.tfevents.1488141669.Felixs-MacBook-Pro.local
src/DeepNeuralNetwork/Neural_Network_Runs/100epochRun/summaries/train/events.out.tfevents.1488141856.Felixs-MacBook-Pro.local
src/DeepNeuralNetwork/Neural_Network_Runs/100epochRun/summaries/train/events.out.tfevents.1488141880.Felixs-MacBook-Pro.local
src/DeepNeuralNetwork/Neural_Network_Runs/100epochRun/summaries/train/events.out.tfevents.1488141935.Felixs-MacBook-Pro.local
src/DeepNeuralNetwork/Neural_Network_Runs/100epochRun/summaries/train/events.out.tfevents.1488141960.Felixs-MacBook-Pro.local
src/DeepNeuralNetwork/Neural_Network_Runs/ashwindata/summaries/test/events.out.tfevents.1488202307.felixs-mbp.nuigalway.ie
src/DeepNeuralNetwork/Neural_Network_Runs/ashwindata/summaries/train/events.out.tfevents.1488202307.felixs-mbp.nuigalway.ie
src/DeepNeuralNetwork/Neural_Network_Runs/bamAndSmithEval/summaries/test/events.out.tfevents.1488142518.Felixs-MacBook-Pro.local
src/DeepNeuralNetwork/Neural_Network_Runs/bamAndSmithEval/summaries/train/events.out.tfevents.1488142518.Felixs-MacBook-Pro.local
src/DeepNeuralNetwork/Neural_Network_Runs/run1/summaries/test/events.out.tfevents.1488141456.Felixs-MacBook-Pro.local
src/DeepNeuralNetwork/Neural_Network_Runs/run1/summaries/train/events.out.tfevents.1488141456.Felixs-MacBook-Pro.local
TrainAndTest/sarcasm_set_ashwin.json
TrainAndTest/sarcasm_set_bam_smith.json
TrainAndTest/SentimentData.txt
